@charset "UTF-8";

@media screen and (max-width: 600px) {
    img.imagem {
        width: 12vw;
    
    }


    ul {
        padding-top: 210px;
    }

    body {
        width: 97vw;
        background-image: url(imagens/fundo-madeira.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;

    }
}