@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background: url(imagens/fundo-madeira.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

main > section#telefone {
    position: absolute;
    width: 311px;
    height: 627px;
    background: url(imagens/frame-iphone.png) no-repeat;
    
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


main > section > iframe#tela {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 272px;
    height: 477px;

}

main > section > ul {
    text-align: right;
    margin-right: 20px;
}

main > section > ul > li {
    display: inline-block;
    margin-top: 20px;
           
}

main > section > ul > li > a > img {
    width: 25%;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.349);
    box-sizing: border-box;
}

main > section > ul > li > a > img:hover {
    border: 2px solid white;
    transform: translate(-5px, -5px);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.541);
    transition: transform 0.5s, border 0.5s;



}


